<h1 class="offsets text-center">Contact</h1>

<div class="container">
    <hr />
    <h2 class="text-center">It would be our greatest pleasure if you told us how are we doing!</h2>
    <h3 class="text-center">Contact us using the link below!</h3>

    <email address="Normanj85@yahoo.com" link-text="Contact Us"></email>
</div>