<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CookingProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" asp-page=""><img class="img-thumbnail" src="~/lib/cookingbok.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-md-0">
                    <input class="form-control ml-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-md-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-md-auto">
                    @await Component.InvokeAsync("ShoppingCartSummary")
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Food" asp-action="List">Browse Shop<span class="sr-only">(current)</span></a>
                    </li>
                    @await Component.InvokeAsync("CategoryMenu")
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Sales" asp-action="Sales">Sales<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Contact" asp-action="Index">Contact<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                       <partial name="_LoginPartial" />
                    </li>

                </ul>
            </div>
        </nav>
    </header>



    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>






    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://use.fontawesome.com/releases/v5.5.0/js/all.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
